<mat-card>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" placeholder="Write a title" name="title" #posttitle="ngModel" [ngModel]="post?.title"
        required>
      <mat-error *ngIf="posttitle.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="4" placeholder="Write a post.." name="content" #postcontent="ngModel"
        [ngModel]="post?.content" required></textarea>
      <mat-error *ngIf="postcontent.invalid">Please enter post content</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="accent">Post</button>
  </form>
</mat-card>
